/* Applies to all */
body {
  background-color: lightgrey;
}
/* Contact.jsx */
.contactimg {
  max-width: 100px;
}
/* Songs.jsx */
.songslist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}
/* Home.css */
.musicphileDescription {
  font-size: 20px;
  width: 500px;
 }
.homeContainer {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

 @media screen and (max-width: 480px) {
.shareTitle {
  font-size: 20px;
}
.musicphileDescription {

  font-size: 15px;
  width: 200px;
 }
}